<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vue Email List</title>

</head>

<body>

    <!-- questo div id=app si collega all'istanza finalizzata da mount('#app') creata in main.js -->

    <div id="app">

        <!-- <ul>
           <li v-for="email in emails" :key="email">{{ email }}</li>
        </ul> -->

        <!-- BONUS COLLEGATO A PARTIRE DA RIGA 31 DI main.js-->
    
        <template v-if="emailsGenerated">
        <!-- solo se la lista di email in main.js diventa true, viene stampata -->
            <ul>
              <li v-for="email in emails" :key="email">{{ email }}</li>
            </ul>
        </template>
        <template v-else>
            <p>Generazione degli indirizzi email in corso...</p>
        </template>

    </div>




    <!-- collegamento al framework vue.js via CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- collegamento al mio file main.js -->
    <script src="main.js"></script>

</body>

</html>